MOVIE RECOMMENDATION

In [1]:
#import library
import pandas as pd
import numpy as np

In [2]:
# import data
data=pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Movies%20Recommendation.csv')

In [3]:
data.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

In [5]:
data.shape

(4760, 21)

In [6]:
data.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

In [7]:
#feature selection
data_features=data[['Movie_Genre','Movie_Keywords','Movie_Tagline', 'Movie_Cast','Movie_Director']]

In [8]:
data_features.shape

(4760, 5)

In [9]:
data_features

,Movie_Genre,Movie_Keywords,Movie_Tagline,Movie_Cast,Movie_Director
0,Crime Comedy,hotel new year's eve witch bet hotel room,Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,"A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas
2,Animation Family,father son relationship harbor underwater fish...,"There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,"The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis
4,Drama,male nudity female nudity adultery midlife cri...,Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,Sam Mendes
...,...,...,...,...,...
4755,Horror,NaN,The hot spot where Satan's waitin'.,Lisa Hart Carroll Michael Des Barres Paul Drak...,Pece Dingo
4756,Comedy Family Drama,NaN,It’s better to stand out than to fit in.,Roni Akurati Brighton Sharbino Jason Lee Anjul...,Frank Lotito
4757,Thriller Drama,christian film sex trafficking,She never knew it could happen to her...,Nicole Smolen Kim Baldwin Ariana Stephens Brys...,Jaco Booyens
4758,Family,NaN,NaN,NaN,NaN
4759,Documentary,music actors legendary perfomer classic hollyw...,NaN,Tony Oppedisano,Simon Napier-Bell

In [10]:
X= data_features['Movie_Genre']+''+data_features['Movie_Keywords']+''+data_features['Movie_Tagline']+''+data_features['Movie_Cast']+''+data_features['Movie_Director']

In [11]:
X

0       Crime Comedyhotel new year's eve witch bet hot...
1       Adventure Action Science Fictionandroid galaxy...
2       Animation Familyfather son relationship harbor...
3       Comedy Drama Romancevietnam veteran hippie men...
4       Dramamale nudity female nudity adultery midlif...
                              ...
4755                                                  NaN
4756                                                  NaN
4757    Thriller Dramachristian film sex traffickingSh...
4758                                                  NaN
4759                                                  NaN
Length: 4760, dtype: object

In [12]:
X.shape

(4760,)

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [14]:
tfidf=TfidfVectorizer()

In [15]:
X = tfidf.fit_transform

In [16]:
print(X)

<bound method TfidfVectorizer.fit_transform of TfidfVectorizer()>

In [17]:
from sklearn.metrics.pairwise import cosine_similarity

In [18]:
Similarity_Score = cosine_similarity

In [19]:
Similarity_Score

In [20]:
# get movie name as input from user and validate closest spelling
Favorite_Movie_Name = input('Enter your favorite moive name:')
All_Movies_Title_List = data['Movie_Title'].tolist()

Enter your favorite moive name:four rooms

In [21]:
import difflib

In [22]:
Movie_Recommendation = difflib.get_close_matches(Favorite_Movie_Name,All_Movies_Title_List)

In [23]:
print(Movie_Recommendation)

['Four Rooms', 'Four Brothers', 'Four Lions']

In [24]:
Close_Match= Movie_Recommendation[0]

In [25]:
print(Close_Match)

Four Rooms

In [26]:
Index_of_Close_Match_Movie = data[data.Movie_Title == Close_Match]['Movie_ID'].values[0]

In [27]:
print(Index_of_Close_Match_Movie)

1

In [28]:
print(type(Similarity_Score))

<class 'function'>

In [29]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [30]:
Index_of_Close_Match_Movie= np.array(Index_of_Close_Match_Movie).reshape(-1,1)

In [31]:
Recommendation_Score = list(enumerate(Similarity_Score(Index_of_Close_Match_Movie)))

In [32]:
print(Recommendation_Score)

[(0, array([1.]))]

In [33]:
len(Recommendation_Score)

1

In [34]:
# sorting movies based on similarity score
Sorted_Similar_Movies = sorted(Recommendation_Score,key=lambda X:X[1],reverse=True)

In [35]:
#printing the names of similar movies based on index
print('Top 30 movies suggested for you:\n')
i = 1
for movie in Sorted_Similar_Movies:
    index = movie[0]
    title_from_index = data[data.index == index]['Movie_Title'].values[0]
    if (i<31):
      print(i,'.',title_from_index)
      i+=1

Top 30 movies suggested for you:

1 . Four Rooms

In [36]:
# Top 10 movie recommendation system
Movie_Name = input('Enter your favorite movie name:')
list_of_all_titles= data['Movie_Title'].tolist()
Find_Close_Match = difflib.get_close_matches(Movie_Name,list_of_all_titles)
Close_Match=Find_Close_Match[0]
Index_of_Movie=data[data.Movie_Title==Close_Match]['Movie_ID'].values[0]

Enter your favorite movie name:four rooms

In [37]:
Index_of_Movie= np.array(Index_of_Movie).reshape(-1,1)

In [38]:
Recommendation_Score=list(enumerate(Similarity_Score(Index_of_Movie)))

In [39]:
Sorted_Similar_Movies=sorted(Recommendation_Score,key=lambda X:X[1],reverse= True)

In [40]:
print('top 10 movies recommended for you:/n')
i=1
for movie in Sorted_Similar_Movies:
  index=movie[0]
  title_from_index=data[data.Movie_ID==index]['Movie_Title'].values
  if (i<11):
    print(i,'.',title_from_index)
    i+=1

top 10 movies recommended for you:/n
1 . []